VITE_RPC_URL="op://Solana Dev/Helius/prod secure rpc"
VITE_EVM_RPC_URL="op://Solana Dev/Alchemy/mainnet"
VITE_ARBITRUM_RPC_URL="op://Solana Dev/Alchemy/arbitrum"
VITE_OPTIMISM_RPC_URL="op://Solana Dev/Alchemy/optimism"
VITE_SUBGRAPH_URL=https://gateway.thegraph.com/api/subgraphs/id/bgd3AFHw9bcSox1mfU39W9NbYUeSY53fr4kaVzmkPjC
VITE_NETWORK=mainnet
VITE_GRAPH_KEY="op://Solana Dev/The Graph/credential"
