@import 'tailwindcss';

@font-face {
  font-family: 'PPFormula';
  src: url('/PPFormula-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body {
  font-family: 'PPFormula', sans-serif;
}

@theme {
  --color-off-black: #0b0b0b;
  --color-off-blue: rgb(243 248 252);
}
